﻿@using pfinal.Models
@{ 
    List<Arrondisement> arr = ViewBag.arrondisement as List<Arrondisement>;
}
    <div>
        <form data-bind="submit: callApi">
            <h3>Invoke API</h3>
            <div class="form-group">
                <label>User</label>
                <input type="text" id="cau" />
            </div>
            <div class="form-group">
                <label>Result</label>
                <input type="text" id="car" />
            </div>
            <div class="form-group">
                <button type="submit" id="cas">Call API</button>
            </div>
            <div class="form-group error-messages" data-bind="foreach: errors">
                <p data-bind="text: $data" />
            </div>
        </form>
    </div>

    <div>
        <h3>Register</h3>

        <div>
            <p id="FirstnameError"></p>
            <p><input type="text" placeholder="Firstname" id="rfn" /></p>
        </div>
        <div>
            <input type="text" placeholder="Lastanme" id="rln" />
        </div>
        <div class="form-group">
            <input id="rm" type="text" placeholder="email" />
        </div>
        <div class="form-group">
            <input id="rp" type="password" placeholder="password" />
        </div>
        <div class="form-group">
            <input id="rpc" type="password" placeholder="confirm password" />
        </div>
        <div>
            <input type="text" placeholder="Civicnumber" id="civicNumberRegister" />
        </div>
        <div>
            <input type="text" placeholder="Code postal" id="codePostalRegister" />
        </div>
        <div>
            <input type="text" placeholder="Streetname" id="streetNameRegister" />
        </div>
        <div>
            <select id="arrregister">
                @{ 
                    foreach (var item in arr)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <button type="submit" id="subreg">Register</button>
        </div>
    </div>

    <div>
        <h3>Log In</h3>
        <div class="form-group">
            <label>Email</label>
            <input type="text" id="le" />
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" id="lp" />
        </div>
        <div class="form-group">
            <button type="submit" id="ls">Log In</button>
            <button id="logout">Log Out</button>
        </div>
    </div>

    
   <div >
       <h3>Add annonce</h3>
       <p><input type="text" placeholder="title" id="titleAddAnnonce" /></p>
       <p><input type="text" placeholder="description" id="descriptionAddAnnonce" /></p>
       <p>
        <select id="typeAddAnnonce">
            <option value="1">Gardien enfat</option>
            <option value="2">service sexuelle</option> 
        </select>
       </p>
       <p><input type="submit" id="annonceAdd" /></p>
   </div>

    <div>
        <h3>Edit annonce</h3>
        <p><input type="text" placeholder="id" id="idDel" /></p>
        <p><input type="text" placeholder="title" id="titleDelAnnonce" /></p>
        <p><input type="text" placeholder="description" id="descriptionDelAnnonce" /></p>
        <p>
            <select id="typeDelAnnonce">
                <option value="1">Gardien enfat</option>
            </select>
        </p>
        <p><input type="submit" id="annonceDel" /></p>
    </div>

<div>
    <h3>Change password</h3>
    <p><input type="password" placeholder="OldPassword" id="OldPassword" /></p>
    <p><input type="password" placeholder="NewPassword" id="NewPassword" /></p>
    <p><input type="password" placeholder="ConfirmPassword" id="ConfirmationPassword" /></p>
    <p><input type="submit" id="ChangePassword" /></p>
</div>

<div>
    <h3>Modify profil</h3>

    <p><input type="text" placeholder="ApplicationUserId" id="ApplicationUserIdEdit" /></p>
    <p><input type="text" placeholder="Firstname" id="FirstnameEdit" /></p>
    <p><input type="text" placeholder="Lastname" id="LastnameEdit" /></p>
    <p><input type="text" placeholder="Gender" id="GenderEdit" /></p>
    <p>
        <input type="text" placeholder="day" id="DayEdit" />
        <input type="text" placeholder="month" id="MonthEdit" />
        <input type="text" placeholder="year" id="YearEdit" />
    </p>
    <p><input type="text" placeholder="Phone" id="PhoneEdit" /></p>
    <input type="submit" id="ProfilEdit" />
</div>

<div>
    <h3>Search annonce</h3>
    <p><input type="text" placeholder="titlecontain" id="sstring" /></p>
    <p><input type="text" placeholder="typannonceid" id="ssstring" /></p>
    <p><input type="submit" id="search" /></p>
</div>

<div>
    <h3>Comment</h3>
    <p><input type="text" id="CommentAnnonceId" /></p>
    <p>
        <textarea id="CommentMessage" placeholder="message..."></textarea>
    </p>
    <input type="submit" id="CommentSubmit" />
</div>

<div>
    <h3>Edit adresse</h3>
    <p>
        <input type="text" placeholder="streetname" id="adrStreetName" />
    </p>
    <p>
        <input type="text" placeholder="civic number" id="adrCivicNumber" />
    </p>
    <p>
        <input type="text" placeholder="code postal" id="adrCodePostal" />
    </p>
    <select id="adrArrondisement">
        @{
            foreach (var item in arr)
            {
                <option value="@item.Id">@item.Name</option>
            }
        }
    </select>
    <p>
        <input type="submit" id="adrEdit" />
    </p>
</div>

<div>
    <button id="getarr">get all arrondiseement</button>
</div>

<div>
    <h3>image web</h3>
    <input type="file" id="fileAdd" />
    <input type="submit" id="fileSubmit" />
</div>

<div>
    <h3>image android</h3>
    <input type="file" id="fileAndroid" />
    <input type="submit" id="fileSubmitAndroid" />
</div>

<div>
    <h3>Get all not verified</h3>
    <button id="notverified">get all not verified</button>
</div>

<div>
    <h3>preuve</h3>
    <input type="file" id="filePreuve" />
    <input type="submit" id="submitPreuve" />
</div>