﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>

        //REGISTER

        var subreg = document.getElementById("subreg");
        var mr = document.getElementById("mr");
        var rp = document.getElementById("rp");
        var rpc = document.getElementById("rpc");
        var prenom = document.getElementById("prenom");
        var nom = document.getElementById("nom");
        var arr = document.getElementById("arrregister");
        var cpr = document.getElementById("codePostalRegister");
        var snr = document.getElementById("streetNameRegister");
        var cnr = document.getElementById("civicNumberRegister")
        var rfn = document.getElementById("rfn");
        var rln = document.getElementById("rln");

        subreg.onclick = function (e)
        {

            var user = {
                Email: rm.value,
                Password: rp.value,
                ConfirmPassword: rpc.value,
                ArrondisementId: arr.value,
                CivicNumber: cnr.value,
                StreetName: snr.value,
                CodePostal: cpr.value,
                Firstname : rfn.value,
                Lastname : rln.value
            };

            $(function () {
                $.ajax({
                    type: "POST",
                    data: JSON.stringify(user),
                    url: "http://teamapi.azurewebsites.net/api/Account/Register",
                    contentType: "application/json",
                    dataType: 'json',
                    success: function (data) {

                        //si le httpcode es 400 ses quil y a un erreur
                        if(data.HttpCode == 400)
                        {
                            //on parecour le tableau
                            for(var i = 0 ; i <= data.Obj.length-1 ; i++)
                            {
                                //si la propriete Msg nest pas null ses quil y a un erreur
                                if(data.Obj[i].Msg != null)
                                {
                                    //on recupere le <p> avec le id qui contient la key + Error exemple FirstnameError
                                    var d = document.getElementById(data.Obj[i].Key + "Error")

                                    //on test si la dom property nes pas null si il ne les pas on ecrit le message derreur dans le <p>
                                    if (d != null)
                                        d.innerHTML = data.Obj[i].Msg;
                                   
                                }
                                else // si a literation le Msg est null ses quil ny a pas derreur donc on efface e msg derreur si il y lieu dans la dom property <p>
                                {
                                    var d = document.getElementById(data.Obj[i].Key + "Error")

                                    if (d != null)
                                        d.innerHTML = "";
                                }

                            }
                        }
                    },
                });
            });

            console.log("allo");
            e.preventDefault();
        }

        //LOGIN/LOGOUT  

        var sublogin = document.getElementById("ls");
        var le = document.getElementById("le");
        var lp = document.getElementById("lp");
        var logout = document.getElementById("logout");

        logout.onclick = function(e)
        {
            e.preventDefault();
            sessionStorage.removeItem("accessToken")
        }

        ls.onclick = function(e)
        {

            var user = {
                grant_type: 'password',
                username: le.value,
                password: lp.value
            };

            $(function () {
                $.ajax({
                    type: "POST",
                    data: user,
                    url: "http://teamapi.azurewebsites.net/Token",
                    contentType: "application/x-www-form-urlencoded",
                    dataType: 'json',
                    success: function (data) {

                        console.log(data);
                        sessionStorage.setItem("accessToken", data.access_token);
                    },
                });
            });

            console.log("allo");
            e.preventDefault();
        }

        ////CALL APIIIIIIIII

        var cas = document.getElementById("cas");
        var car = document.getElementById("car");
        var cau = document.getElementById("cau");

        cas.onclick = function (e) {


            console.log("allo");
            e.preventDefault();

            var token = sessionStorage.getItem("accessToken");
            console.log("Token : " + token);
            var headers = {};
            if (token) {
                headers.Authorization = 'Bearer ' + token;
            }


            $.ajax({
                type: 'GET',
                url: '/api/values/1',
                headers: headers,
            }).done(function (data) {
                console.log("donneeeeeeeee : " + data);
            }).fail(showError);

        }

        //////AJOUTER UN ANNONCE

        var titleAdd = document.getElementById("titleAddAnnonce");
        var descriptionAdd = document.getElementById("descriptionAddAnnonce");
        var typeAdd = document.getElementById("typeAddAnnonce");
        var annonceAdd = document.getElementById("annonceAdd");

      
        annonceAdd.onclick = function (e) {
            console.log("ALLOOOOOOOO");
            
            var annonce = {
                Title: titleAdd.value,
                Description: descriptionAdd.value,
                TypeAnnonceId: typeAdd.value
            };

            console.log("title : " + annonce.Title);

            e.preventDefault();

            var token = sessionStorage.getItem("accessToken");

            var headers = {};

            if (token)
            {
                headers.Authorization = 'Bearer ' + token;
            }

            
            $(function () {
                $.ajax({
                    type: "POST",
                    headers: headers,
                    data: JSON.stringify(annonce),
                    url: "http://teamapi.azurewebsites.net/api/Annonce/Add",
                    contentType: "application/json",
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                    },
                });
            });
            
        }

        ////////MODIFIER UN ANNONCE

        var idDel = document.getElementById("idDel");
        var titleDel = document.getElementById("titleDelAnnonce");
        var descriptionDel = document.getElementById("descriptionDelAnnonce");
        var typeDel = document.getElementById("typeDelAnnonce");
        var annonceDel = document.getElementById("annonceDel");




        annonceDel.onclick = function (e) {

            var annonce = {
                AnnonceId:idDel.value,
                Title: titleDel.value,
                Description: descriptionDel.value,
                TypeAnnonceId: typeDel.value
            };

            console.log("title : " + annonce.Title);

            e.preventDefault();

            var token = sessionStorage.getItem("accessToken");
            console.log("Token : " + token);
            var headers = {};
            if (token) {
                headers.Authorization = 'Bearer ' + token;
            }

            $(function () {
                $.ajax({
                    type: "PUT",
                    headers: headers,
                    data: JSON.stringify(annonce),
                    url: "http://teamapi.azurewebsites.net/api/Annonce/Modify",
                    contentType: "application/json",
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                    },
                });
            });
        }

        ////////////Change password

        var OldPassword = document.getElementById("OldPassword");
        var NewPassword = document.getElementById("NewPassword");
        var ConfirmationPassword = document.getElementById("ConfirmationPassword");
        var ChangePassword = document.getElementById("ChangePassword");




        ChangePassword.onclick = function (e) {

            var password = {
                OldPassword: OldPassword.value,
                NewPassword: NewPassword.value,
                ConfirmPassword: ConfirmationPassword.value
            };

            e.preventDefault();

            var token = sessionStorage.getItem("accessToken");
            console.log("Token : " + token);
            var headers = {};
            if (token) {
                headers.Authorization = 'Bearer ' + token;
            }

            $(function () {
                $.ajax({
                    type: "POST",
                    headers: headers,
                    data: JSON.stringify(password),
                    url: "http://teamapi.azurewebsites.net/api/Account/ChangePassword",
                    contentType: "application/json",
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                    },
                });
            });
        }

        ////////////////EDIT PROFIL


        var FirstnameEdit = document.getElementById("FirstnameEdit");
        var LastnameEdit = document.getElementById("LastnameEdit");
        var GenderEdit = document.getElementById("GenderEdit");
        var yearEdit = document.getElementById("YearEdit");
        var dayEdit = document.getElementById("DayEdit");
        var monthEdit = document.getElementById("MonthEdit");
        var PhoneEdit = document.getElementById("PhoneEdit");
        var ProfilEdit = document.getElementById("ProfilEdit");
        var ApplicationUserIdEdit = document.getElementById("ApplicationUserIdEdit");
        var fileedit = document.getElementById("FileEdit");




        ProfilEdit.onclick = function (e) {

            var profil = {
                ApplicationUserId : ApplicationUserIdEdit.value,
                Firstname : FirstnameEdit.value,
                Lastname : LastnameEdit.value,
                Gender : GenderEdit.value,
                Year: yearEdit.value,
                Month: monthEdit.value,
                Day : dayEdit.value,
                Phone: PhoneEdit.value,
            };


            e.preventDefault();

            var token = sessionStorage.getItem("accessToken");
            console.log("Token : " + token);
            var headers = {};
            if (token) {
                headers.Authorization = 'Bearer ' + token;
            }

            $(function () {
                $.ajax({
                    type: "PUT",
                    headers: headers,
                    data: JSON.stringify(profil),
                    url: "http://teamapi.azurewebsites.net/api/Profil/Modify",
                    contentType: "application/json",
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                    },
                });
            });
        }

        ///////////////SEARCH ANNONCE

        var title = document.getElementById("sstring");
        var typeid = document.getElementById("ssstring");
        var search = document.getElementById("search");

        search.onclick = function (e) {

            var searchAnnonce = {
                TitleContain : title.value,
                TypeAnnonceId : typeid.value
            };


            e.preventDefault();

            var token = sessionStorage.getItem("accessToken");
            console.log("Token : " + token);
            var headers = {};
            if (token) {
                headers.Authorization = 'Bearer ' + token;
            }

            $(function () {
                $.ajax({
                    type: "POST",
                    headers: headers,
                    data: JSON.stringify(searchAnnonce),
                    url: "http://teamapi.azurewebsites.net/api/Annonce/Search",
                    contentType: "application/json",
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                    },
                });
            });
        }

        ////////////////NEW COMMENT

        var CommentAnnonceId = document.getElementById("CommentAnnonceId");
        var CommentMessage = document.getElementById("CommentMessage");
        var CommentSubmit = document.getElementById("CommentSubmit");

        CommentSubmit.onclick = function (e) {

            var comment = {
                Message: CommentMessage.value,
                AnnonceId: CommentAnnonceId.value
            };


            e.preventDefault();

            var token = sessionStorage.getItem("accessToken");
            console.log("Token : " + token);
            var headers = {};
            if (token) {
                headers.Authorization = 'Bearer ' + token;
            }

            $(function () {
                $.ajax({
                    type: "POST",
                    headers: headers,
                    data: JSON.stringify(comment),
                    url: "http://teamapi.azurewebsites.net/api/Comment/Add",
                    contentType: "application/json",
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                    },
                });
            });
        }

        /////////////////////////EDIT ADRESSE

        var adrCodePostal = document.getElementById("adrCodePostal");
        var adrCivicNumber = document.getElementById("adrCivicNumber");
        var adrArrondisement = document.getElementById("adrArrondisement");
        var adrStreetName = document.getElementById("adrStreetName");
        var adrEdit = document.getElementById("adrEdit");

        adrEdit.onclick = function (e) {

            var adresse = {
                ArrondisementId: adrArrondisement.value,
                CivicNumber: adrCivicNumber.value,
                CodePostal: adrCodePostal.value,
                StreetName : adrStreetName.value
            };


            e.preventDefault();

            var token = sessionStorage.getItem("accessToken");
            console.log("Token : " + token);
            var headers = {};
            if (token) {
                headers.Authorization = 'Bearer ' + token;
            }

            $(function () {
                $.ajax({
                    type: "PUT",
                    headers: headers,
                    data: JSON.stringify(adresse),
                    url: "http://teamapi.azurewebsites.net/api/Adresse/Modify",
                    contentType: "application/json",
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                    },
                });
            });
        }

        ////////////////////////// GET ALL AARRONDISSEMENT

        var getarr = document.getElementById("getarr");

        getarr.onclick = function(e)
        {
            e.preventDefault();
            var token = sessionStorage.getItem("accessToken");
            console.log("Token : " + token);
            var headers = {};
            if (token) {
                headers.Authorization = 'Bearer ' + token;
            }

            $(function () {
                $.ajax({
                    type: "GET",
                    headers: headers,
                    url: "http://teamapi.azurewebsites.net/api/Adresse/Getallar",
                    contentType: "application/json",
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                    },
                });
            });
        }

        ////////////ADD IMAGE
        var fileAdd = document.getElementById("fileAdd");
        var submitFile = document.getElementById("fileSubmit");


        submitFile.onclick = function(e)
        {
            var formData = new FormData();
            formData.append('FileAdd', fileAdd.files[0]);
            formData.append("BenefType", "Annonce");
            formData.append("AnnonceId", 13);

            var token = sessionStorage.getItem("accessToken");
            console.log("Token : " + token);
            var headers = {};
            if (token) {
                headers.Authorization = 'Bearer ' + token;
            }

            $(function () {
                $.ajax({
                    type: "POST",
                    url: "http://teamapi.azurewebsites.net/api/Image/Add",
                    data: formData,
                    headers: headers,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        console.log(data);
                    },
                });
            });

            console.log("allo")
        }

        ////////////////// add file android

        var fileandroid = document.getElementById("fileAndroid");
        var submitandroid = document.getElementById("fileSubmitAndroid");

        function getBase64(file) {


            var token = sessionStorage.getItem("accessToken");
            console.log("Token : " + token);
            var headers = {};
            if (token) {
                headers.Authorization = 'Bearer ' + token;
            }

            var reader = new FileReader();
            reader.readAsDataURL(file);
            var z = null;
            reader.onload = function () {
                var f = {
                    B64: reader.result,
                    BenefType: "Annonce",
                    AnnonceId: 17
                }

                $(function () {
                    $.ajax({
                        type: "POST",
                        headers :headers,
                        data: JSON.stringify(f),
                        url: "http://teamapi.azurewebsites.net/api/Image/Android",
                        contentType: "application/json",
                        dataType: 'json',
                        success: function (data) {
                            console.log(data);
                        },
                    });
                });
            };
        }

        submitandroid.onclick = function (e) {
            getBase64(fileandroid.files[0]);
        }

        //////////////get all n ot verified

        var nv = document.getElementById("notverified");

        nv.onclick = function (e) {
            e.preventDefault();
            var token = sessionStorage.getItem("accessToken");
            console.log("Token : " + token);
            var headers = {};
            if (token) {
                headers.Authorization = 'Bearer ' + token;
            }

            $(function () {
                $.ajax({
                    type: "GET",
                    headers: headers,
                    url: "http://teamapi.azurewebsites.net/api/Profil/Notverified",
                    contentType: "application/json",
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                    },
                });
            });
        }


        ////////////ADD IMAGE preuve
        var filePreuve = document.getElementById("filePreuve");
        var submitPreuve = document.getElementById("submitPreuve");


        submitPreuve.onclick = function (e) {
            var formData = new FormData();
            formData.append('FileAdd', filePreuve.files[0]);
            formData.append("BenefType", "Preuve");

            var token = sessionStorage.getItem("accessToken");
            console.log("Token : " + token);
            var headers = {};
            if (token) {
                headers.Authorization = 'Bearer ' + token;
            }

            $(function () {
                $.ajax({
                    type: "POST",
                    url: "http://teamapi.azurewebsites.net/api/Image/Add",
                    data: formData,
                    headers: headers,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        console.log(data);
                    },
                });
            });

            console.log("allo")
        }
       


    </script>
</body>
</html>
